body {
	background-color: #f0f0f0;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Title {
	font-size: 2.5em;
	color: #24282f;
	margin-bottom: 30px;
}

#ContactTitle{
	font-size: 2.5em;
	color: #24282f;
	text-align: center;
	margin: 20px 0;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.loginDiv {
	background-color: grey;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

#inner-title {
	font-size: 1.2em;
	color: white;
	margin-bottom: 15px;
}

.input-field {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
}



.buttons {
	width: 100%;
	padding: 10px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 15px;
}

.buttons:hover {
	color:white;
	background-color: grey;
}

#loginResult {
	color: red;
	font-size: 0.9em;
}

#loginRedirect {
    color: #7584a5;
    font-size: 1em;
    cursor: pointer;
}

#loginRedirect:hover {
    color: #667777;
	background-color: #d6d8dd;
}

#accountRedirect {
    color: #064be0;
    font-size: 1em;
    cursor: pointer;
}

#accountRedirect:hover {
    color: white;
	background-color: none;
}

.contact-container {
	width: 500px;
	height: 500px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 120px;
	left: 5%;
	transform: translateX(-5%);
}

.top-nav {
	padding: 10px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



#searchBar {
	margin-right: 10px;
	width: 600;
	height: 40px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#searchButton{
	width: 150px;
	height: 40px;
}

.buttons-container{
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-evenly;
	/* width: 100%; */
	/* padding-right: 20px; */
	align-items: baseline;
}



.contact-list {
	overflow-y: auto;
	height: calc(100% - 60px);
	background-color: #fff;
	padding: 10px;
}

.contact-item {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.contact-item:hover {
	background-color: #f0f0f0;
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #ccc;
	width: 300px;
	border-radius: 10px;
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
