body {
	background-color: #f0f0f0;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Title {
	font-size: 2.5em;
	color: #24282f;
	margin-bottom: 30px;
}

#ContactTitle{
	position: relative;
	font-size: 2.5em;
	color: #24282f;
	text-align: center;
	margin: 40px 0;
}

.loginDiv {
	background-color: #cfd9ef;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

#inner-title {
	font-size: 1.2em;
	color: black;
	margin-bottom: 15px;
}

.input-field {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
}

.buttons {
	width: 100%;
	padding: 10px;
	background-color: #24282f;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: 15px;
}

.buttons:hover {
	color:white;
	background-color: #565f77;
}

#loginResult {
	color: red;
	font-size: 0.9em;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

.contact-container {
	width: 70%;
	height: 60vh;
	background-color: white;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-nav {
	padding: 10px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#searchBar {
	margin-right: 10px;
	width: 1200px;
	height: 40px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#searchButton{
	width: 150px;
	height: 40px;
}
#searchButton:hover {
    background-color: #7584a5;
    color: white;
}

.buttons-container {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.buttons-container button {
	width: 200px;
	padding: 20px;
	background-color: #24282f;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 1.0em;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 10px;
	align-items: center;
}

.logout button{
	color: white;
	background-color: #24282f;
	position: fixed;
	left: 90%;
	bottom: 90%;
	transform: translateX(-50%); /* Center horizontally */
	width: 100px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
}

.logout button:hover{
	background-color: #7584a5;
    color: white;
}


.buttons-container button:hover {
    background-color: #7584a5;
    color: white;
}

.contact-list {
	overflow-y: auto;
	height: calc(100% - 60px);
	background-color: #fff;
	padding: 10px;
}

.contact-item {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.contact-item:hover {
	background-color: #f0f0f0;
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #ccc;
	width: 300px;
	border-radius: 10px;
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}